#homepage {
}

.nav-logos {
	display: flex;
	justify-content: flex-end;
}

#brand-logo {
	line-height: 50px;
}

.nav-logo {
	margin: 10px;
}

li {
	display: inline-block;
	list-style: none;
}

.option-logo {
	width: 180px;
	background: lightskyblue;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}

.option-logo img {
	width: 100px;
	height: 100px;
}
