.nav-logos {
	display: flex;
	justify-content: flex-end;
}

#brand-logo img {
	position: absolute;
	left: 0;
	margin-left: 15px;
	max-width: 50px;
	max-height: 50px;
}

.nav-logo {
	font-size: 20px;
	margin: 10px;
}

#arrows {
	position: absolute;
	top: 8%;
	display: flex;
	width: 100%;
	justify-content: space-between;
	background: lightskyblue;
	color: white;
}

li {
	display: inline-block;
	list-style: none;
}

#homepage a {
	color: black;
	text-decoration: none;
}

#options {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
}

.option-logo {
	width: 180px;
	cursor: pointer;
	background: lightskyblue;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}

.option-logo img {
	max-width: 100px;
	max-height: 100px;
}

.qr-code {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

/* Adjustments for different mobile screens */
@media (max-width: 675px) {
	#options {
		margin: 20px 100px;
	}
}

@media (max-width: 600px) {
	#options {
		margin: 20px 60px;
	}
}

@media (max-width: 500px) {
	#options {
		margin: 20px;
	}
}

@media (max-width: 395px) {
	.nav-logo:last-child {
		margin-left: 0;
		margin-right: 20px;
	}

	#homepage {
		margin: auto;
	}

	.option-logo {
		width: 150px;
	}

	.option-logo img {
		max-width: 80px;
		max-height: 80px;
	}
}

@media (max-width: 365px) {
	#homepage {
		margin-left: 20px;
	}

	.option-logo {
		width: 120px;
	}

	.option-logo img {
		max-width: 60px;
		max-height: 60px;
	}

	.option-logo p {
		font-size: 15px;
	}
}

@media (max-width: 330px) {
	#homepage {
		margin: auto;
	}
}
